In [2]:
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

c:\other\ml\BankScore\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
path = kagglehub.dataset_download("laotse/credit-risk-dataset")
df = pd.read_csv(f"{path}/credit_risk_dataset.csv")

In [4]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [5]:
df.shape

(32581, 12)

In [6]:
df.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [8]:
df = df[(df['person_emp_length'] + 18 < df['person_age']) & (df['person_age'] >= 18) & (df['person_age'] < 100)]
df['person_emp_length'] = df['person_emp_length'].fillna(df['person_emp_length'].median())
df['loan_int_rate'] = df['loan_int_rate'].fillna(df['loan_int_rate'].median())

In [9]:
df['person_home_ownership'].unique()

array(['MORTGAGE', 'RENT', 'OWN', 'OTHER'], dtype=object)

In [10]:
df['loan_intent'].unique()

array(['MEDICAL', 'VENTURE', 'HOMEIMPROVEMENT', 'EDUCATION', 'PERSONAL',
       'DEBTCONSOLIDATION'], dtype=object)

In [11]:
df['loan_grade'].unique()

array(['C', 'A', 'B', 'E', 'D', 'F', 'G'], dtype=object)

In [12]:
df['cb_person_default_on_file'].unique()

array(['N', 'Y'], dtype=object)

In [13]:
df['loan_status'].unique()

array([1, 0])

In [14]:
df['cb_person_default_on_file'] = np.where(df['cb_person_default_on_file'] == 'Y', True, False)
df['loan_status'] = np.where(df['loan_status'] == 1, True, False)

In [15]:
df['person_home_ownership'] = df['person_home_ownership'].astype('category')
df['loan_intent'] = df['loan_intent'].astype('category')
df['loan_grade'] = df['loan_grade'].astype('category')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22391 entries, 2 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  22391 non-null  int64
 1   person_income               22391 non-null  int64
 2   person_home_ownership       22391 non-null  category
 3   person_emp_length           22391 non-null  float64
 4   loan_intent                 22391 non-null  category
 5   loan_grade                  22391 non-null  category
 6   loan_amnt                   22391 non-null  int64
 7   loan_int_rate               22391 non-null  float64
 8   loan_status                 22391 non-null  bool
 9   loan_percent_income         22391 non-null  float64
 10  cb_person_default_on_file   22391 non-null  bool
 11  cb_person_cred_hist_length  22391 non-null  int64
dtypes: bool(2), category(3), float64(3), int64(4)
memory usage: 1.5 MB

In [28]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,True,0.57,False,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,True,0.53,False,2
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,True,0.25,False,2
7,24,78956,RENT,5.0,MEDICAL,B,35000,11.11,True,0.44,False,4
11,21,10000,OWN,2.0,HOMEIMPROVEMENT,A,4500,8.63,True,0.45,False,2

In [30]:
df = df.drop(columns=['loan_grade', 'loan_percent_income'])

In [33]:
df.duplicated().sum()

np.int64(97)

In [36]:
df = df.drop_duplicates()

In [38]:
df = df.reset_index(drop=True)

In [39]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,cb_person_default_on_file,cb_person_cred_hist_length
0,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,True,False,3
1,23,65500,RENT,4.0,MEDICAL,35000,15.23,True,False,2
2,21,9900,OWN,2.0,VENTURE,2500,7.14,True,False,2
3,24,78956,RENT,5.0,MEDICAL,35000,11.11,True,False,4
4,21,10000,OWN,2.0,HOMEIMPROVEMENT,4500,8.63,True,False,2