In [329]:
import kagglehub
import pandas as pd
import numpy as np

# Завантажуємо датасет локально
path = kagglehub.dataset_download("laotse/credit-risk-dataset")

# Читаємо CSV
df = pd.read_csv(f"{path}/credit_risk_dataset.csv")

In [330]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [331]:
df.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [332]:
df.dropna(axis=0,inplace=True)

In [333]:
df.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [334]:
df.reset_index(inplace = True)

In [335]:
(df['person_age'].value_counts().values>90).sum()

np.int64(25)

In [336]:
df = df.drop(df[df['person_age'] > 80].index, axis=0)

In [337]:
df.head(7)

,index,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
6,6,26,77100,RENT,8.0,EDUCATION,B,35000,12.42,1,0.45,N,3

In [338]:
df = df[df['person_emp_length'] <= 60]

In [339]:
df = df.drop(['index'], axis=1)
df.reset_index(inplace = True)
df = df.drop(['index'], axis=1)

In [340]:
df['person_home_ownership'].value_counts()

person_home_ownership
RENT        14548
MORTGAGE    11797
OWN          2192
OTHER          94
Name: count, dtype: int64

In [341]:
raw_data = df.copy()

In [342]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [343]:
df.shape

(28631, 12)

In [344]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28631 entries, 0 to 28630
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  28631 non-null  int64
 1   person_income               28631 non-null  int64
 2   person_home_ownership       28631 non-null  object
 3   person_emp_length           28631 non-null  float64
 4   loan_intent                 28631 non-null  object
 5   loan_grade                  28631 non-null  object
 6   loan_amnt                   28631 non-null  int64
 7   loan_int_rate               28631 non-null  float64
 8   loan_status                 28631 non-null  int64
 9   loan_percent_income         28631 non-null  float64
 10  cb_person_default_on_file   28631 non-null  object
 11  cb_person_cred_hist_length  28631 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 2.6+ MB

In [345]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score, precision_score, recall_score, f1_score

# ====== 1. Завантажуємо df ======
# df у тебе вже очищений, 28631 рядок і 12 колонок

# ====== 2. Підготовка features ======
num_features = ['person_age','person_income','person_emp_length','loan_amnt','loan_int_rate','loan_percent_income','cb_person_cred_hist_length']
cat_features = ['person_home_ownership','loan_intent','loan_grade','cb_person_default_on_file']

preprocessor = ColumnTransformer(transformers=[
    ('num', StandardScaler(), num_features),
    ('cat', OneHotEncoder(handle_unknown='ignore'), cat_features)
])

X = df.drop('loan_status', axis=1)
y = df['loan_status']

# ====== 3. Train/Test split ======
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

# ====== 4. Моделі ======
clf_status = RandomForestClassifier(n_estimators=200, random_state=42)
clf_status.fit(X_train_processed, y_train)

reg_amount = RandomForestRegressor(n_estimators=200, random_state=42)
reg_rate = RandomForestRegressor(n_estimators=200, random_state=42)

reg_amount.fit(X_train_processed, X_train['loan_amnt'])
reg_rate.fit(X_train_processed, X_train['loan_int_rate'])

# ====== 5. Оцінка моделей ======
y_pred_class = clf_status.predict(X_test_processed)
y_pred_prob = clf_status.predict_proba(X_test_processed)[:,1]

print("===== Classification Metrics =====")
print("Accuracy:", accuracy_score(y_test, y_pred_class))
print("Precision:", precision_score(y_test, y_pred_class))
print("Recall:", recall_score(y_test, y_pred_class))
print("F1-score:", f1_score(y_test, y_pred_class))

rmse_amount = np.sqrt(mean_squared_error(X_test['loan_amnt'], y_pred_amount))
rmse_rate = np.sqrt(mean_squared_error(X_test['loan_int_rate'], y_pred_rate))

print("Loan Amount RMSE:", rmse_amount)
print("Loan Amount R2:", r2_score(X_test['loan_amnt'], y_pred_amount))
print("Loan Rate RMSE:", rmse_rate)
print("Loan Rate R2:", r2_score(X_test['loan_int_rate'], y_pred_rate))

# ====== 6. Функція для прогнозу нового клієнта ======
def predict_client(client_data, clf_status, reg_amount, reg_rate, preprocessor, threshold=0.85):
    client_df = pd.DataFrame([client_data])
    client_processed = preprocessor.transform(client_df)
    
    payback_prob = clf_status.predict_proba(client_processed)[0,1]
    
    suggested_amount = reg_amount.predict(client_processed)[0]
    suggested_rate = reg_rate.predict(client_processed)[0]
    
    # Якщо шанс < threshold → підбираємо суму/ставку
    if payback_prob < threshold:
        # Прості ітерації, підвищуємо шанс
        for factor in np.linspace(0.8,1.2,10):
            test_amount = suggested_amount * factor
            test_rate = suggested_rate * factor
            temp_client = client_data.copy()
            temp_client['loan_amnt'] = test_amount
            temp_client['loan_int_rate'] = test_rate
            temp_processed = preprocessor.transform(pd.DataFrame([temp_client]))
            temp_prob = clf_status.predict_proba(temp_processed)[0,1]
            if temp_prob >= 0.9:
                suggested_amount = test_amount
                suggested_rate = test_rate
                payback_prob = temp_prob
                break

    return {
        'payback_probability': payback_prob,
        'suggested_amount': suggested_amount,
        'suggested_rate': suggested_rate
    }

# ====== 7. Приклад ======
client_data = {
    'person_age': 30,
    'person_income': 45000,
    'person_home_ownership': 'RENT',
    'person_emp_length': 5,
    'loan_intent': 'PERSONAL',
    'loan_grade': 'C',
    'loan_amnt': 10000,
    'loan_int_rate': 12.0,
    'loan_percent_income': 0.22,
    'cb_person_default_on_file': 'N',
    'cb_person_cred_hist_length': 4
}

result = predict_client(client_data, clf_status, reg_amount, reg_rate, preprocessor)
print("\n===== Client Prediction =====")
print(result)

===== Classification Metrics =====
Accuracy: 0.9387113672079623
Precision: 0.9754273504273504
Recall: 0.7356970185334408
F1-score: 0.838768948093707

===== Regression Metrics =====

TypeError: got an unexpected keyword argument 'squared'